*{
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image:url(https://t3.ftcdn.net/jpg/06/65/83/82/360_F_665838214_X9oDgRNUf7ipzjsSdTOBA8DpAQq7k8Id.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}   

.topnav ul li{
    display: inline;
    margin: 50px;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
}
ul li a{
    font-size: 20px;
    color: aquamarine;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    transition-delay: 0s;
}
.image{
    position: absolute;
    top: 10px;
    left: 10px;
    margin: 2px;
}
.button{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 15px;
    color:white;
    padding: 7px;
    background-color: red;
    border-radius: 10px;
    animation: buttonani 2s linear 0s infinite normal;
    

}
.para{
    font-style: italic;
    font-size: 20px;
    color: red;
}
h2{
    font-size: 40px;
    font-style: arial;
    color: white;
}
.lorem{
    font-size: 20px;
    color: wheat;
    font-family: cursive;
}
.order ul li{
    display: inline-block;
    border:2px solid yellow;
    transition-duration:0.2s;
    transition-timing-function: linear;
    transition-delay: 0s;
}
.order ul li:hover{
    transform: scale(1.5,1.5);
}
.user{
    color: white;
}
.more{
    color: white;
    background-color: red;
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 2px 2px wheat;
    transition-duration: 3s;
    transition-timing-function: linear;
    transition-delay: 0s;
    
}
a{
    color: chartreuse;
    text-decoration: none;
    font-size: 30px;
    position: relative;
    left: 350px;
}

.more:hover{
    background-color: green;
    color: blue;
    transform: scale(3,3);
    transform: translate(20px,20px);
}
ul li a:hover{
    text-decoration: underline;
    color: bisque;
}
@keyframes buttonani{
    from{
        background-color: red;
        font-size: 15px;
        transform: translate(0px,0px);
        transform: skew(0deg);
    }
    to{
        background-color: yellow;
        font-size: 20px;
        transform: translate(70px,70px);
        transform: skew(5deg);

    }
}
.classicon{
    display: flex;
    justify-content:flex-end;
    color: white;
    font-size: 4vh;
    position: relative;
    top:9.4rem;
    
}  
.icon:hover{
    color:#ff00ff;
}
.icon{
    transition-duration: 0.3s;
    transition-timing-function: linear;
    transition-delay: 0s;
}
.fb:hover{
    color: blue;
}
.fb{
    transition-duration: 0.3s;
    transition-timing-function: linear;
    transition-delay: 0s;
}
.twitter:hover{
    color: skyblue;
}
.twitter{
    transition-duration: 0.3s;
    transition-timing-function: linear;
    transition-delay: 0s;
}
@media(min-width:0px) and (max-width:1212px){
    .button{
        position: absolute;
        top: 5rem;
}
    .lorem{
        font-size: 12px;
    }
}
